@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<a class="btn btn-primary" asp-action="Create">Creat New &nbsp; <i class="fas fa-plus"></i></a>